.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-family: sans-serif;
  background: #F0EAD6;
  color: white;
}